node_modules/

cartridges/app_storefront_base/cartridge/static/
cartridges/app_labs_storefront/cartridge/static/
cartridges/app_stub_storefront/cartridge/static/

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
package-lock.json
